span{
  font-size: 32px;
  letter-spacing: 3px;
  border-bottom: 2px solid transparent;
}
.space{
  margin: 0 2px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.correct{
  color: gray;
}

.wrong{
  color: red;
}

.active{
  border-color: black;
}

